parameters:
    level: 9
    scanDirectories:
        - dev-stubs
    paths:
        - src
    excludePaths:
        - vendor
    ignoreErrors:
        - '#Method .* deprecated#'
        - '#Function .* deprecated#'
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'